*.pyc
*.snv*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.svn-base

strategies/.jojo.py

strategies/.svn/entries

strategies/.svn/dir-prop-base

strategies/.svn/all-wcprops
